
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{%block title%} Django Not {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->

            {% load static %}
            <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/ticker-style.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
            {% block head %} {% endblock %}
</head>

<body>
{% include 'header.html' %}



<!-- ================ contact section start ================= -->

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            {{setting.contact|safe}}
            </div>
            <div class="col-md-4">
                <div class="billing-details">

                        <div class="section-title">
                            <h3 class="title">İletisim Formu</h3>

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                        <form id="checkout-form" class="clearfix" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="SEND FORM">
                        </form>
                    </div>

                </div>
            </div>
    </div>
</section>

<!-- ================ contact section end ================= -->
{% include 'footer.html' %}

