<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{%block title%} Django Not {% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->

    {% load static %}
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/ticker-style.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
    {% block head %} {% endblock %}
</head>
<style>
.right {



  padding-left: 200px;
}

</style>
<body>
{% include 'header.html' %}

<!-- ================ contact section start ================= -->
<section class="contact-section">
    <div class="container">

        <div class="row">
            <div class="col-2">
                {% include 'user_panel.html' %}
            </div>
            <div class="col-10">

                {% if messages %}
                {% for message in messages %}
                <div style="color: #d43f3a; font-size: medium">
                    {{ message|safe }}
                </div>
                {% endfor %}
                {% endif %}

                <form method="POST" enctype="multipart/form-data">
                    <div class="right">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        <button type="submit" value="login"
                                class="btn btn-info waves-effect waves-light m-t-10">
                            Save Changes
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<!-- ================ contact section end ================= -->
{% include 'footer.html' %}

