<div class="container">
    <h4 class="widget_title">User Panel</h4>
    <div class="card" style="width: 200px">
        <div class="card-body">
            <aside class="single_sidebar_widget post_category_widget">

                <ul class="list cat-list">
                    <li>
                        <a href="/user" class="d-flex">
                            <p>My Profile</p>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="d-flex">
                            <p>My Reviews</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex">
                            <p>My News</p>
                        </a>
                    </li>
                    <li>
                        <a href="/logout" class="d-flex">
                            <p>Logout</p>
                        </a>
                    </li>
                        <li>
                            <a href="#" class="d-flex">
                                <p>User Panel</p>
                            </a>
                        </li>

                </ul>
            </aside>
        </div>
    </div>
</div>
